@font-face {
  font-family: 'AvantGarde';
  src: url(../assets/fonts/AvantGarde.otf);
}

@font-face {
  font-family: 'Diodrum';
  src: url(../assets/fonts/Diodrum.otf);
}

:root {
  --std-size: 40px;
  --petit-size: 20px;
}

a, a:visited {
  text-decoration: none;
  color: #000000;
}

body {
  font-family: AvantGarde;
  margin: 0px;
}

.upper-case {
  text-transform: uppercase;
}

.hide {
  display: none;
}

.preload {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;

  background-color: #fff;
}

header {
  position: fixed;
  top: 50px;
  left: 50px;
  right: 50px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  z-index: 99;
}

header > * {
  width: 18%;
  flex: 0 1 18%;
}

header .menu {
  text-align: left;
  font-size: var(--std-size);
}

header .menu-button:hover {
  cursor: pointer;
}

header .menu .menu-options {
  position: absolute;
}

header .menu .menu-options a {
  display: block;
  transition: all .2s;
  transition-timing-function: ease;
}

header .menu .menu-options a:hover {
  margin-left: 10px;
}

header .menu .menu-options a.collections-button {
  cursor: pointer;
}

header .menu .menu-options .collections-submenu {
  font-size: 35px;
  letter-spacing: 5px;
}

header .menu .menu-options .collections-submenu a {
  margin-bottom: 10px;
}

header .logo {
  text-align: center;
}

header .logo img {
  height: 50px;
}

header .info-button {
  text-align: right;
  font-size: var(--std-size);
}

#content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.home,
.cocktail,
.caffetteria {
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.cocktail h1,
.caffetteria h1 {
  align-self: center;
}

@media all and (max-width: 695px){
  header .menu {
    font-size: var(--petit-size);
  }

  header .info-button {
    font-size: var(--petit-size);
  }

  header > * {
    width: 50%;
    flex: 0 1 50%;
  }

  header {
    top: 25px;
    left: 25px;
    right: 25px;
  }

  header .logo img {
    height: 25px;
  }

}